.banner {
    text-align: center;
    height: 835px;
    padding-top: 90px;
    box-sizing: border-box;
    overflow: hidden;
    background: url(../images/download/banner_bg.png) no-repeat center;
}

.banner span {
    width: 256px;
    height: 47px;
    display: block;
    margin: 0 auto 60px;
    background: url(../images/download/mt4logo.png) no-repeat center;
}

.banner p {
    font-size: 16px;
    color: #666;
    line-height: 28px;
    margin: 0 16px;
}

.banner .banner-content {
    margin: 72px 130px 0 70px;
}

.banner .banner-content .fl {
    width: 798px;
}

.banner .banner-content .fl p {
    color: #333;
}

.banner .banner-content .fl p b {
    font-size: 18px;
    margin-right: 30px;
    display: inline-block;
}

.banner .banner-content .fl p i {
    display: inline-block;
    background: url(../images/download/download_icon.png) -19px 0 no-repeat;
}

.banner .banner-content .fl p .p-i {
    width: 24px;
    height: 28px;
    margin-right: 13px;
    vertical-align: text-bottom;
}

.banner .banner-content .fl p a {
    font-size: 16px;
    color: #333;
}

.banner .banner-content .fl p a i {
    width: 13px;
    height: 13px;
    background: url(../images/download/download_icon.png) -75px -8px no-repeat;
    margin-right: 5px;
}

.banner .banner-content .fl p a:not(:first-of-type) i {
    margin-left: 44px;
}

.banner .banner-content .fr {
    margin-top: 130px;
    width: 195px;
}

.banner .banner-content .fr li {
    width: 175px;
    height: 50px;
    border-radius: 5px;
    background-color: #2585ff;
    transition: all 0.3s;
    display: block;
    margin: 0 auto 22px;
}

.banner .banner-content .fr li a {
    line-height: 50px;
    font-size: 16px;
    color: #fff;
}

.banner .banner-content .fr li a i {
    display: inline-block;
    width: 23px;
    height: 26px;
    background: url(../images/download/download_icon.png) -121px -2px no-repeat;
    vertical-align: middle;
    margin-right: 14px;
}

.banner .banner-content .fr .li-2 {
    background-color: #1e2835;
}

.banner .banner-content .fr .li-2 a i {
    background-position-x: -172px;
    width: 22px;
    margin-right: 24px;
}

.banner .banner-content .fr .li-3 {
    background-color: #2e8836;
}

.banner .banner-content .fr .li-3 a i {
    background-position: -222px -1px;
    width: 24px;
    height: 27px;
}

.banner .banner-content .fr li:hover {
    padding: 0 10px;
}

.b1 {
    text-align: center;
    padding: 63px 0;
    background-color: #fff;
}

.b1 .item {
    width: 374px;
    height: 110px;
    line-height: 110px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 34px;
    transition: all 0.3s;
}

.b1 .item .item-box {
    display: inline-block;
    vertical-align: middle;
}

.b1 .item .item-box i {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/download/download_icon.png) 0 -68px no-repeat;
}

.b1 .item .item-box .txt {
    max-width: 195px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 40px;
}

.b1 .item .item-box .txt b {
    font-size: 20px;
    color: #333;
    margin-bottom: 14px;
    display: block;
}

.b1 .item .item-box .txt p {
    font-size: 16px;
    color: #666;
}

.b1 .item:hover {
    -webkit-box-shadow: 1px 1px 18px #d3d3d3;
    -moz-box-shadow: 1px 1px 18px #d3d3d3;
    box-shadow: 1px 1px 18px #d3d3d3;
    transform: translateY(-10px);
}

.b1 .item:first-child,
.b1 .item:nth-child(4) {
    margin-left: 0;
}

.b1 .item:nth-child(4),
.b1 .item:nth-child(5),
.b1 .item:nth-child(6) {
    margin-top: 42px;
}

.b1 .item1 .item-box i {
    width: 78px;
}

.b1 .item2 .item-box i {
    width: 67px;
    background-position-x: -116px;
}

.b1 .item3 .item-box i {
    width: 64px;
    background-position-x: -228px;
}

.b1 .item4 .item-box i {
    background-position: -9px -157px;
}

.b1 .item5 .item-box i {
    background-position: -120px -157px;
}

.b1 .item6 .item-box i {
    background-position: -230px -157px;
}