/* introduce */

.introduce {
    width: 880px;
    padding-bottom: 50px;
}

.introduce .p_box {
    position: relative;
    height: 350px;
    padding: 30px;
    margin-bottom: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid #2e8836;
    transition: all 0.3s ease-in-out;
}

.introduce .p_box i {
    position: absolute;
    top: 0;
    left: 45px;
    display: block;
    width: 42px;
    height: 61px;
    background: url(../images/product/product_icon.png) no-repeat;
}

.introduce .p_box b {
    position: absolute;
    right: 45px;
    top: 25px;
    display: block;
    width: 31px;
    height: 27px;
}

.introduce .p_box h4 {
    font-size: 20px;
    padding: 0 0 22px 70px;
}

.introduce .p_box .txt {
    font-size: 16px;
    color: #666666;
    line-height: 40px;
    padding: 10px 35px 0 35px;
}

.introduce .p_box:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 30px 0 rgba(183, 183, 183, 0.7);
}

.introduce .first_box i {
    background-position: 0 0;
}

.introduce .first_box h4 {
    color: #2e8836;
    border-bottom: 1px solid #2e8836;
}

.introduce .second_box {
    border: 1px solid #e98024;
}

.introduce .second_box i {
    background-position: -51px 0;
}

.introduce .second_box h4 {
    color: #e98024;
    border-bottom: 1px solid #e98024;
}

.introduce .third_box {
    background: #ffffff;
    padding: 50px 50px 12px 58px;
}

.introduce .third_box .item {
    padding: 0 0 16px 25px;
    border-bottom: 1px dashed #dadada;
    margin-bottom: 22px;
}

.introduce .third_box .item h4 {
    position: relative;
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 10px;
}

.introduce .third_box .item h4 i {
    position: absolute;
    left: -23px;
    top: 50%;
    margin-top: -3px;
    display: block;
    width: 6px;
    height: 6px;
    background: #2e8836;
    border-radius: 50%;
}

.introduce .third_box .item p {
    font-size: 16px;
    color: #666666;
    line-height: 28px;
}

.introduce .third_box .item:last-child {
    border: 0;
}

/* rule */

.product-box.rule {
    width: 882px;
    background-color: #fff;
    border-radius: 10px;
    padding: 35px 0;
}

.product-box.rule .table-box {
    width: 800px;
    /* height: 800px; */
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #b1b1b1;
}

.product-box.rule .table-box table {
    width: 100%;
    table-layout: fixed;
    background-color: #f9f9f9;
}

.product-box.rule .table-box table tr:first-child {
    background-color: #0e2752;
    border-top: none;
}

.product-box.rule .table-box table tr:first-child td {
    color: #fff;
}

.product-box.rule .table-box table tr {
    border-top: 1px solid #b1b1b1;
}

.product-box.rule .table-box table tr td {
    width: 33.3%;
    height: 60px;
    line-height: 26px;
    border-left: 1px solid #b1b1b1;
    font-size: 16px;
    color: #666;
}

.product-box.rule .table-box table tr td:first-child {
    border-left: none;
}

.product-box.rule .table-box table tr:last-child td:last-child {
    text-align: left;
}

.product-box.rule .table-box table tr:last-child td:last-child p {
    font-size: 16px;
    line-height: 26px;
    width: 464px;
    margin: 18px auto;
}

.product-box.rule .remark-box {
    width: 800px;
    text-align: left;
    margin: 22px auto 0;
    font-size: 16px;
    color: #333;
}

.product-box.rule .remark-box ul {
    margin: 10px 0 0 38px;
}

.product-box.rule .remark-box ul li {
    width: 100%;
    font-size: 14px;
    color: #666;
    margin-bottom: 24px;
    display: block;
}

.product-box.rule .remark-box ul li i {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #2e8836;
    float: left;
    margin: 10px 18px 0 0;
}

.product-box.rule .remark-box ul li p {
    display: block;
    line-height: 24px;
    padding-left: 23px;
    box-sizing: border-box;
}

/* term */

.product-box.term {
    width: 880px;
    background-color: #fff;
    padding: 28px 0 38px;
}

.product-box.term .nav-box {
    width: 815px;
    margin: 0 auto;
    font-size: 0;
}

.product-box.term .nav-box ul {
    font-size: 0;
}

.product-box.term .nav-box ul li {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    border-radius: 10px;
    border: 1px solid #b1b1b1;
    font-size: 18px;
    color: #999;
    padding: 0 20px;
    cursor: pointer;
    margin: 0 12px 12px 0;
    transition: all 0.3s;
}

.product-box.term .nav-box ul li.active, .product-box.term .nav-box ul li:hover {
    background-color: #e98024;
    border-color: #e98024;
    color: #fff;
}

.product-box.term .tab-content {
    height: 620px;
    overflow: hidden;
    margin-top: 18px;
    position: relative;
}

.product-box.term .tab-content ul {
    width: 815px;
    margin: 0 auto;
    font-size: 0;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 40px;
}

.product-box.term .tab-content ul li {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #b1b1b1;
    padding: 20px 36px 32px 24px;
    box-sizing: border-box;
    margin-bottom: 26px;
    display: block;
    transition: all 0.3s;
    background-color: #f9f9f9;
}

.product-box.term .tab-content ul li i {
    width: 2px;
    height: 22px;
    background-color: #2e8836;
    float: left;
    margin: 0 6px 0 0;
}

.product-box.term .tab-content ul li b {
    display: block;
    font-size: 20px;
    color: #666;
    line-height: 22px;
    margin-bottom: 14px;
}

.product-box.term .tab-content ul li p {
    display: block;
    line-height: 28px;
    font-size: 16px;
    color: #666;
}

.product-box.term .tab-content ul li.active, .product-box.term .tab-content ul li:hover {
    -webkit-box-shadow: 1px 1px 18px #b7b7b7;
    -moz-box-shadow: 1px 1px 18px #b7b7b7;
    box-shadow: 1px 1px 18px #b7b7b7;
}